$imported-once-files                : ();

// Generic
@import "../px-normalize-design/generic.normalize";
@import "../px-box-sizing-design/generic.box-sizing";

// Base
@import "../px-viewport-design/base.viewport";
@import "../px-typography-design/base.typography";
@import "../px-code-design/base.code";

// Layout

$inuit-enable-layout--tiny          : true;
$inuit-enable-layout--small         : true;
$inuit-enable-layout--large         : true;
$inuit-enable-layout--huge          : true;
$inuit-enable-layout--flush         : true;
$inuit-enable-layout--rev           : true;
$inuit-enable-layout--middle        : true;
$inuit-enable-layout--bottom        : true;
$inuit-enable-layout--full          : true;
$inuit-enable-layout--right         : true;
$inuit-enable-layout--center        : true;
$inuit-enable-layout__item--full    : true;
$inuit-enable-layout__item--center  : true;
$inuit-enable-layout__item--bottom  : true;

@import "../objects.layout";

.layout__item {
  margin-bottom: $inuit-base-spacing-unit;
  p {
    margin: 0;
    width: 100%;
    padding: $inuit-base-spacing-unit;
    text-align: center;
    background: rgba($black,.1);
  }
}

// Trumps
$inuit-enable-margins               : true;
$inuit-enable-margins--large        : true;
$inuit-enable-margins--huge         : true;

@import "../px-spacing-responsive-design/trumps.spacing-responsive";
@import "../px-widths-responsive-design/trumps.widths-responsive";